@font-face {
  font-family: "Roboto";
  src: url("frontend/src/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("frontend/src/fonts/Roboto-Bold.woff") format("woff");
  font-weight: 300;
}

body {
  color: var(--color-black);
  background-color: var(--color-gray);
  padding-inline: 20px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  color: var(--color-gray-alternate);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.container {
  max-width: calc(var(--container-max-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
