body {
  color: black;
  background-color: var(--color-gray);
  padding-inline: 20px;
  min-height: 100vh;
  display: relative;
}

a {
  color: var(--color-gray-alternate);
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}
