:root {
  --color-gray: #f3f4f6;
  --color-gray-alternate: #4b5563;
  --color-light-gray: lightgray;
  --color-white: #ffffff;
  --color-blue: #3b82f6;

  --radius-normal: 8px;
  --radius-small: 4px;
}
