.header {
  background-color: var(--color-gray);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;

  &__title {
    color: var(--color-black);
    font-size: 2rem;
  }
  
  &__nav-list {
    display: flex;
    gap: 15px;
  }


}
