.header {
  background-color: var(--color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;

  &__logo {
    &-title {
      color: var(--color-black);
      font-size: 2rem;
    }
  }

  &__menu {
    &-list {
      display: flex;
      gap: 15px;
    }
  }
}
